.App {
  text-align: center;
}

.numbers {
  margin: 50px 300px;
  display: flex;
  justify-content: space-between;
}
.number {
    width: 150px;
    height: 150px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ee5;
    font-size: 30px;
    border-radius: 50%;
}
.btn {
    margin: 100px 0 50px;
    font-size: 20px;
    font-weight: bold;
}